.AllContainer {
  margin-bottom: -200px;
  background: rgba(248, 249, 255, 1);
  margin-top: -220px;
  padding-top: 150px;
  padding-bottom: 300px;
  @media (max-width: 450px) {
    margin-bottom: -344px;
    margin-top: -208px;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #172755;
    @media (max-width: 425px) {
      text-align: left;
    }
  }

  .titleParagraph {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #8794BA;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 80px;
    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }

    .cards_card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #172755;
        @media (max-width: 425px) {
          text-align: left;
        }
      }

      @media (max-width: 425px) {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
      }
    }
  }

  .featuresCard {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    @media (max-width: 1050px) {
      grid-gap: 30px;
    }
    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (max-width: 450px) {
        &:nth-child(2) {
          order: 1;
        }
      }


      h1 {
        width: 100%;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #172755;
        @media (max-width: 1050px) {
          font-size: 36px;
        }
        br{
          @media (max-width: 768px) {
            display: none;
          }
        }
      }

    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (max-width: 450px) {
        &:nth-child(1) {
          order: 2;
        }
      }

      .right_card {
        width: 100%;
        height: 100%;
        padding: 51px 72px 48px 64px;
        background: #FFFFFF;
        box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
        border-radius: 30px;
        @media (max-width: 1050px) {
          padding: 50px 30px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


